<component name="ArtifactManager">
  <artifact type="war" name="springdynamicds:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springdynamicds.war">
      <element id="artifact" artifact-name="springdynamicds:war exploded" />
    </root>
  </artifact>
</component>