<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>spring-quartz</display-name>

	<!-- spring配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring-quartz3.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


</web-app>
