<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC   
        "-//mybatis.org//DTD Mapper 3.0//EN"  
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlh.mc.dao.system.UserMapper">
    <select id="countUser" resultType="int">
        select count(*) FROM user  where corpsn = #{corpSN}
    </select>
</mapper>  
