<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.dlh.service.**"/>

    <bean id="quartzJobFactory" class="com.dlh.jobfactory.MyQuartzJobFactory"></bean>

    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.dlh.job.TestJob3"></property>
        <property name="durability" value="true"></property>
    </bean>

    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="startDelay" value="1000"></property>
        <property name="repeatInterval" value="5000"></property>
        <property name="jobDetail" ref="jobDetail"></property>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory" ref="quartzJobFactory"/>
        <property name="triggers">
            <list>
                <ref bean="simpleTrigger"></ref>
            </list>
        </property>
        <!--<property name="startupDelay" value="5"/>-->
        <!-- 设置自动启动 -->
        <property name="autoStartup" value="true" />
    </bean>
</beans>